@import url("https://use.typekit.net/iok0apy.css");

.site-background {
  margin: 0 auto;
  width: 100%;
  color: #1A2625;
  background-image: url("../images/staffan-kjellvestad-y1qOT82fd8k-unsplash.jpg");
  background-position: center;
  font-family: 'ff-good-web-pro', sans-serif;
  text-align: center;
}

.hodderH1 {
  margin: 5px 0 10px 0;
}

.hodderH2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.hodderH3 {
  margin: 1em auto 1em auto;
  max-width: 1000px;
}

.hodderH4 {
  font-size: 1.25em;
  margin: 0;
}

.top-section {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #1A2625;
  max-width: 1200px;
}

.lower-section {
  border: solid 3px hsl(175, 19%, 13%);
  margin: 0 auto;
  padding: 5px;
  min-width: 800px;
  max-width: 60%;
  text-align: left;
  overflow-wrap: break-word;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #FFFFFF25 
}

.upper-left {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1em;
}

.upper-right {
  grid-area: 1 / 2 / 2 / 3;
  padding: 1em;
}

.bottom-left {
  grid-area: 2 / 1 / 3 / 2;
  padding: 1em;
  max-width:100%;
}

.bottom-right {
  grid-area: 2 / 2 / 3 / 3; 
  padding: 1em;
}

.static {
  background-image: url("../images/static.png");
  background-position: top-left;
  animation: static-gitter 1s infinite;
}

@keyframes static-gitter {
  50% {background-position: center;}
}

.form-area {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
}
