@import url("https://use.typekit.net/iok0apy.css");

.press-page {
  font-family: 'ff-good-web-pro', sans-serif;
}

.press-release {
  width: MAX(60%, 18em);
  margin: 0 auto;
  margin-top: 1em;
  padding: 0 .5em 2em .5em;
  color: white;

  .date-line {
    text-decoration: underline;
  }
}


