@import url("https://use.typekit.net/iok0apy.css");

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  padding: 0;
  border: 0;
  margin: 0; 
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'ff-good-web-pro', sans-serif;
}

.banner-section {
  background-image: url("../images/hullbreach-cover-13000px300dpi-20211027.jpeg");
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 3em; 
  
  // .banner-image {
  //   grid-area: 1 / 1 / 4 / 4;
  //   z-index: 0;
  // }
  
  .banner-title {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    object-fit: cover;
  } 

  .banner-subtitle {
    grid-area: 2 / 1 / 3 / 2;
    // z-index: 1;
    max-width: 100%;
  } 

  .banner-logo {
    grid-area: 3 / 1 / 4 / 2;
    // z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }

  .logo {
    max-width: 60%;
  }

  .banner-links{
    grid-area: 3 / 3 / 4 / 4;
    // z-index: 1;
    display: flex;
    flex-direction: column-reverse;

    a {
      text-decoration: none;
    }

    .link-text {
      background-color: #ffffff00;
      width: 90%;
      font-size: 2.5em; 
      margin-top: 1em; 
      border: 2px solid whitesmoke;
      padding: .5em;
    }
  }
}

.content-section {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  .feature {
  margin: 2em auto;
  max-width: 1200px;
  
  @media screen and (min-width: 1000px) {
      padding: 2em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
  }
    
  .description {
    font-size: 1.25em;
    line-height: 1.5em;
    
    @media screen and (min-width: 400px) {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    
    @media screen and (min-width: 1000px) {
      object-position: center top;
      line-height: 1.75em;
      font-size: 1.75em;
      text-align: left;
      margin: 0 .5em;
      grid-area: 1 / 2 / 2 / 3;
    }
  }

    .rendering {
      margin: 0 auto;
      object-fit: cover;
      
      @media screen and (min-width: 800px) {
        grid-area: 1 / 1 / 2 / 2;
       }
    }
  }
}

.spread-section {
  display: flex;
}

.form-section {
  background-color: black;
  color: whitesmoke;
  padding-top: 3em;
  max-width: 950px;
  margin: 0 auto;
}

.ad {
  background-color: black;
  color: whitesmoke;
  padding: 0;
  border: 0;
  font-size: 2em;
  cursor: crosshair;
  width: 100%;
  min-height: 125px;
  margin: 0 auto;
  margin-top: 20em;
  
  .desktop {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  .mobile {
    @media screen and (min-width: 375px) {
      display: none;
    }
  }

  .broken-link {
    min-height: 175px;
  }

  .static {
    background-image: url("../images/static.png");
    background-position: top-left;
    animation: static-jitter .1s infinite;
  }
  
  .flicker {
    -webkit-animation: fadeinout 3s linear alternate;
    animation: fadeinout 3s linear alternate;
    animation-iteration-count: infinite;
  }
  
  // @-webkit-keyframes fadeinout {
  //   0% { opacity: .98; }
  //   98% { opacity: .97; }
  //   100% { opacity: .90; }
  // }
  
  @keyframes fadeinout {
    0% { opacity: .98; }
    98% { opacity: .97; }
    100% { opacity: 1; }
  }
  
  @keyframes static-jitter {
    50% {background-position: center;}
  }
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: whitesmoke;
}