@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://use.typekit.net/iok0apy.css");

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 3em;
  color: whitesmoke;
  @media screen and (min-width: 800px) {
      font-size: 4em;
    }
  
}

button {
  padding: 0;
  border: 0;
  margin: 0; 
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'ff-good-web-pro', sans-serif;
}

.banner {
  background-color: black;
}

.content-section {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  .feature {
  margin: 2em auto;
  max-width: 1200px;
  
  @media screen and (min-width: 1000px) {
      padding: 2em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
  }
    
  .description {
    font-size: 1.25em;
    line-height: 1.5em;
    
    @media screen and (min-width: 400px) {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    
    @media screen and (min-width: 1000px) {
      object-position: center top;
      line-height: 1.75em;
      font-size: 1.75em;
      text-align: left;
      margin: 0 .5em;
      grid-area: 1 / 2 / 2 / 3;
    }
  }

    .rendering {
      margin: 0 auto;
      object-fit: cover;
      
      @media screen and (min-width: 800px) {
        grid-area: 1 / 1 / 2 / 2;
       }
    }
  }
}

.form-section {
  background-color: black;
  color: whitesmoke;
  justify-content: space-around;
  padding-top: 3em;
  max-width: 800px;

  @media screen and (min-width: 800px) {
    display: flex;
    margin: 0 auto;
  }

.link {
  font-size: 2em; 
  margin: 1em auto;
}

}

.ad {
  background-color: black;
  color: whitesmoke;
  padding: 0;
  border: 0;
  font-size: 2em;
  cursor: crosshair;
  width: 100%;
  max-width: 950px;
  min-height: 125px;
  margin: 0 auto;
  margin-top: 2em;
  
  .desktop {
    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  .mobile {
    @media screen and (min-width: 375px) {
      display: none;
    }
  }

  .static {
    background-image: url("../images/static.png");
    background-position: top-left;
    animation: static-jitter .1s infinite;
  }
  
  .flicker {
    -webkit-animation: fadeinout 3s linear alternate;
    animation: fadeinout 3s linear alternate;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes fadeinout {
    0% { opacity: 1; }
    98% { opacity: .97; }
    100% { opacity: .40; }
  }
  
  @keyframes fadeinout {
    0% { opacity: 1; }
    98% { opacity: .97; }
    100% { opacity: .40; }
  }
  
  @keyframes static-jitter {
    50% {background-position: center;}
  }
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: gray;
}