@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.content-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

.ad {
  cursor: crosshair;
  width: 100%;
  margin: 0 auto;
}

button {
  background-color: black;
  color: white;
  padding: 0;
  border: 0;
}